.gallery {
    column-count: 3;
    column-width: 33%;
    padding: 0 12px;

    -webkit-column-count: 3;
    /* Chrome, Safari, iOS Safari */
    -moz-column-count: 3;
    /* Firefox */
    -o-column-count: 3;
    /* Opera */
    -ms-column-count: 3;
    /* Internet Explorer */

    -webkit-column-width: 33%;
    -moz-column-width: 33%;
    -o-column-width: 33%;
    -ms-column-width: 33%;

}

.gallery .pics:hover {
    filter: opacity(.8)
}

.gallery .pics {
    transition: all 350ms ease;
    cursor: pointer;
    margin-bottom: 12px;
}

@media (max-width:991px) {
    .gallery {
        column-count: 3;
        column-width: 33%;
        padding: 0 12px;
    }
}

@media (max-width:480px) {
    .gallery {
        column-count: 1;
        column-width: 100%;
        padding: 0 12px;
    }
}